<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<%= form_with method: :get do |f| %>
  <%= f.label :product, "Product: " %>
  <%= f.text_field :product %>
  <%= f.submit "Search" %>
<% end %>

<% @products && @products.each do |product| %>
  <div>
    <h4><%= product.name %></h4>
    <p>Price: <%= product.price %></p>
    <p>In Stock: <%= product.in_stock %></p>
    <p>Sold: <%= product.sold %></p>
    <p>Description: <%= product.description %></p>
    <% if product.tags.size > 0 %>
      <p>Tags: </p>
      <ul>
        <% product.tags.each do |tag| %>
          <li><%= tag %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
